$background-color: #fceed9;
$dark-color: #473d36;
$header-color: #6C5C51;
$header-text-color: #8A7566;
$hover-color: #A58772;
$header-shadow-color: #382D26;
$queue-color: rgba(71, 61, 54, 0.4);

$header-height: 48px;

$high-background-color: #FF7A57;
$medium-background-color: #FF9D57;
$low-background-color: #FFC276;

$high-gradient-color: #E86440;
$medium-gradient-color: #E88340;
$low-gradient-color: #E8AA5F;