@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Righteous');

$background-color: #fceed9;
$dark-color: #473d36;
$header-color: #6C5C51;
$header-text-color: #8A7566;
$hover-color: #A58772;
$header-shadow-color: #382D26;
$queue-color: rgba(71, 61, 54, 0.4);

$header-height: 48px;

$high-background-color: #FF7A57;
$medium-background-color: #FF9D57;
$low-background-color: #FFC276;

$high-gradient-color: #E86440;
$medium-gradient-color: #E88340;
$low-gradient-color: #E8AA5F;

html {
  background-color: $dark-color;
  font-family: 'Coming Soon', sans-serif;
  color: $dark-color;
}

h1 {
  font-family: 'Righteous', sans-serif;
}

h3 {
  font-weight: bolder;
}

#header {
  background-color: $header-color;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: $header-height;
  padding: 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px $header-shadow-color;
  h1 {
    width: 50%;
    margin: 0px;
    margin-left: 16px;
    margin-right: 16px;
    color: $header-text-color;
    text-shadow: 1px 2px 2px $header-shadow-color;
    @include respond-to(medium) {
      width: 35%;
    }
  }
  div {
    margin-right: 0px;
    button {
      font-family: 'Coming Soon', sans-serif;
      color: $dark-color;
      font-weight: bold;
      font-size: 10px;
      height: $header-height;
      width: 100%;
      background-color: $header-text-color;
      border: none;
      transition: background-color 0.5s ease;
      @include respond-to(medium) {
        font-size: 12px;
      }
    }
    button:hover {
      background-color: $hover-color;
    }
  }
}

#newTaskForm {
  box-shadow: 0px 2px 4px $header-shadow-color;
  position: fixed;
  z-index: 998;
  top: -400px;
  right: 8px;
  padding-top: 8px;
  transition: top 0.5s ease;
  background-color: $header-text-color;
  width: 248px;
  padding: 4px;
  box-sizing: border-box;
}

form {
  margin-top: 10px;
  text-align: center;
  input, select, button {
    width: 240px;
    text-align: left;
    margin: auto;
    background-color: $dark-color;
    font-family: 'Coming Soon', sans-serif;
    font-weight: bold;
    color: $hover-color;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
  }
  input:hover, select:hover, button:hover {
    background-color: $header-color;
  }
  button, input {
    padding-left: 4px;
  }
  input {
    border: 2px inset $header-color;
  }
  button, select {
    border: 2px outset $header-color;
  }
}

#navbar {
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  margin-top: 0px;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 416px;
  max-width: 65%;
  z-index: 1000;
  height: $header-height;
  li {
    margin-left: 4px;
    z-index: 1001;
    width: 96px;
    list-style-type: none;
    height: $header-height;
    background-color: $header-text-color;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: background-color 0.5s ease;
    a, a:visited {
      width: 100%;
      text-decoration: none;
      line-height: $header-height;
      font-size: 10px;
      font-weight: bold;
      color: $dark-color;
      text-align: center;
      @include respond-to(medium) {
        font-size: 12px;
      }
    }
  }
  li:hover {
    background-color: $hover-color;
  }
}

#subheader {
  position: relative;
  top: 56px;
  margin-bottom: 16px;
  h1 {
    width: 85%;
    margin: auto;
    color: $header-text-color;
    text-shadow: 1px 2px 2px $header-shadow-color;
    @include respond-to(medium) {
      width: 850px;
    }
  }
}

.login, .createUser {
  padding: 8px;
  width: 260px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 2px $header-shadow-color;
  @include respond-to(medium) {
    margin-right: 8px;
  }
  h2 {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  p {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    button {
      margin: 4px;
      transform: rotate(15deg);
      border: none;
      box-shadow: 0 1px 2px $header-shadow-color;
      font-family: 'Coming Soon', sans-serif;
      color: $dark-color;
    }
  }
}

.login {
  background-color: $low-background-color;
  border-top: 1px solid $low-background-color;
  background: linear-gradient($low-gradient-color, $low-background-color);
  p {
    button {
      background-color: $medium-background-color;
    }
  }
}

.createUser {
  background-color: $high-background-color;
  border-top: 1px solid $high-background-color;
  background: linear-gradient($high-gradient-color, $high-background-color);
  p {
    button {
      background-color: $low-background-color;
    }
  }
}

.loginForm {
  width: 240px;
}

#formContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  @include respond-to(medium) {
    height: 232px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row nowrap;
  }
}

#main {
  box-sizing: border-box;
  position: relative;
  top: 56px;
  width: 85%;
  margin: auto;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: $low-background-color;
  background-image: url('cork-board.jpg');
  background-size: 100%;
  border-top: 1px solid #ede0cd;
  border-left: 1px solid #ede0cd;
  border-radius: 4px;
  box-shadow: 0px 0px 1px #ede0cd, 0px 2px 1px $header-text-color, 0px 4px 1px $header-text-color, 0px 6px 2px $header-color, 0px 8px 4px $header-color, 2px 10px 8px $header-shadow-color, -2px 10px 8px $header-shadow-color;
  @include respond-to(medium) {
    width: 850px;
  }
}

#kanbanPage {
  #main {
    flex-flow: column nowrap;
    align-items: center;
    @include respond-to(small) {
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}

.column {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 4px;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  @include respond-to(small) {
    width: 30%;
    max-width: 30%;
  }
  h2 {
    font-weight: lighter;
    font-size: 30px;
    font-family: 'Righteous', sans-serif;
    color: $header-text-color;
    text-shadow: 0 0 4px $header-shadow-color, 1px 2px 2px $header-shadow-color;
    margin-top: 0px;
    margin-bottom: 8px;
  }
}

.kanbanItem {
  border-radius: 2px;
  width: 100%;
  height: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  padding: 0px;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px $header-shadow-color;
  p {
    margin: 0px;
    padding: 4px;
    font-size: 12px;
    @include respond-to(small) {
      font-size: 14px;
    }
    @include respond-to(medium) {
      font-size: 16px;
    }
  }

  h3 {
    margin: 0px;
    margin-bottom: 8px;
    padding: 4px;
    font-size: 16px;
    @include respond-to(small) {
      font-size: 20px;
    }
    @include respond-to(medium) {
      font-size: 24px;
    }
  }
  transition: position 0.5s ease, margin 0.5s ease, padding 0.5s ease, width 0.5s ease, box-shadow 0.5s ease;
}

.kanbanItem:hover {
  width: 110%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0px;
  box-shadow: 0 2px 4px $header-shadow-color;
}

.LOW {
  background-color: $low-background-color;
  border-top: 1px solid $low-background-color;
  background: linear-gradient($low-gradient-color, $low-background-color);
  button {
    margin: 4px;
    transform: rotate(15deg);
    border: none;
    background-color: $medium-background-color;
    box-shadow: 0 1px 2px $header-shadow-color;
    font-family: 'Coming Soon', sans-serif;
    color: $dark-color;
  }
}

.MEDIUM {
  background-color: $medium-background-color;
  border-top: 1px solid $medium-background-color;
  background: linear-gradient($medium-gradient-color, $medium-background-color);
  button {
    margin: 4px;
    transform: rotate(15deg);
    border: none;
    background-color: $high-background-color;
    box-shadow: 0 1px 2px $header-shadow-color;
    font-family: 'Coming Soon', sans-serif;
    color: $dark-color;
  }
}

.HIGH{
  background-color: $high-background-color;
  border-top: 1px solid $high-background-color;
  background: linear-gradient($high-gradient-color, $high-background-color);
  button {
    margin: 4px;
    transform: rotate(15deg);
    border: none;
    background-color: $low-background-color;
    box-shadow: 0 1px 2px $header-shadow-color;
    font-family: 'Coming Soon', sans-serif;
    color: $dark-color;
  }
}