@import url("https://fonts.googleapis.com/css?family=Coming+Soon|Righteous");
.login, .createUser {
  padding: 8px;
  width: 260px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 2px #382D26; }
  @media (min-width: 900px) {
    .login, .createUser {
      margin-right: 8px; } }
  .login h2, .createUser h2 {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px; }
  .login p, .createUser p {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between; }
    .login p button, .createUser p button {
      margin: 4px;
      transform: rotate(15deg);
      border: none;
      box-shadow: 0 1px 2px #382D26;
      font-family: 'Coming Soon', sans-serif;
      color: #473d36; }

.login {
  background-color: #FFC276;
  border-top: 1px solid #FFC276;
  background: linear-gradient(#E8AA5F, #FFC276); }
  .login p button {
    background-color: #FF9D57; }

.createUser {
  background-color: #FF7A57;
  border-top: 1px solid #FF7A57;
  background: linear-gradient(#E86440, #FF7A57); }
  .createUser p button {
    background-color: #FFC276; }

.loginForm {
  width: 240px; }

form {
  margin-top: 10px;
  text-align: center; }
  form input, form select, form button {
    margin-top: 2px;
    margin-bottom: 0px;
    width: 240px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #473d36;
    font-family: 'Coming Soon', sans-serif;
    font-weight: bold;
    color: #A58772;
    box-sizing: border-box;
    transition: background-color 0.5s ease; }
  form input:hover, form select:hover, form button:hover {
    background-color: #6C5C51; }
  form button, form input {
    padding-left: 4px; }
  form input {
    border: 2px inset #6C5C51; }
  form button, form select {
    border: 2px outset #6C5C51; }

#formContainer {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 900px) {
    #formContainer {
      height: 232px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-flow: row nowrap; } }

#newTaskForm {
  box-shadow: 0px 2px 4px #382D26;
  position: fixed;
  z-index: 998;
  top: -400px;
  right: 8px;
  padding-top: 8px;
  transition: top 0.5s ease;
  background-color: #8A7566;
  width: 248px;
  padding: 4px;
  box-sizing: border-box; }

#subheader {
  position: relative;
  top: 56px;
  margin-bottom: 16px; }
  #subheader h1 {
    width: 85%;
    margin: auto;
    color: #8A7566;
    text-shadow: 1px 2px 2px #382D26; }
    @media (min-width: 900px) {
      #subheader h1 {
        width: 850px; } }

#kanbanPage #main {
  flex-flow: column nowrap;
  align-items: center; }
  @media (min-width: 600px) {
    #kanbanPage #main {
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between; } }

.column {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 4px;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 600px) {
    .column {
      width: 30%;
      max-width: 30%; } }
  .column h2 {
    font-weight: lighter;
    font-size: 30px;
    font-family: 'Righteous', sans-serif;
    color: #8A7566;
    text-shadow: 0 0 4px #382D26, 1px 2px 2px #382D26;
    margin-top: 0px;
    margin-bottom: 8px; }

.kanbanItem {
  border-radius: 2px;
  width: 100%;
  height: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  padding: 0px;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px #382D26;
  transition: position 0.5s ease, margin 0.5s ease, padding 0.5s ease, width 0.5s ease, box-shadow 0.5s ease; }
  .kanbanItem p {
    margin: 0px;
    padding: 4px;
    font-size: 12px; }
    @media (min-width: 600px) {
      .kanbanItem p {
        font-size: 14px; } }
    @media (min-width: 900px) {
      .kanbanItem p {
        font-size: 16px; } }
  .kanbanItem h3 {
    margin: 0px;
    margin-bottom: 8px;
    padding: 4px;
    font-size: 16px; }
    @media (min-width: 600px) {
      .kanbanItem h3 {
        font-size: 20px; } }
    @media (min-width: 900px) {
      .kanbanItem h3 {
        font-size: 24px; } }

.kanbanItem:hover {
  width: 110%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0px;
  box-shadow: 0 2px 4px #382D26; }

.LOW {
  background-color: #FFC276;
  border-top: 1px solid #FFC276;
  background: linear-gradient(#E8AA5F, #FFC276); }
  .LOW button {
    margin: 4px;
    transform: rotate(15deg);
    border: none;
    background-color: #FF9D57;
    box-shadow: 0 1px 2px #382D26;
    font-family: 'Coming Soon', sans-serif;
    color: #473d36; }

.MEDIUM {
  background-color: #FF9D57;
  border-top: 1px solid #FF9D57;
  background: linear-gradient(#E88340, #FF9D57); }
  .MEDIUM button {
    margin: 4px;
    transform: rotate(15deg);
    border: none;
    background-color: #FF7A57;
    box-shadow: 0 1px 2px #382D26;
    font-family: 'Coming Soon', sans-serif;
    color: #473d36; }

.HIGH {
  background-color: #FF7A57;
  border-top: 1px solid #FF7A57;
  background: linear-gradient(#E86440, #FF7A57); }
  .HIGH button {
    margin: 4px;
    transform: rotate(15deg);
    border: none;
    background-color: #FFC276;
    box-shadow: 0 1px 2px #382D26;
    font-family: 'Coming Soon', sans-serif;
    color: #473d36; }

html {
  background-color: #473d36;
  font-family: 'Coming Soon', sans-serif;
  color: #473d36; }

h1 {
  font-family: 'Righteous', sans-serif; }

h3 {
  font-weight: bolder; }

#header {
  background-color: #6C5C51;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 48px;
  padding: 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px #382D26; }
  #header h1 {
    width: 50%;
    margin: 0px;
    margin-left: 16px;
    margin-right: 16px;
    color: #8A7566;
    text-shadow: 1px 2px 2px #382D26; }
    @media (min-width: 900px) {
      #header h1 {
        width: 35%; } }
  #header div {
    margin-right: 0px; }
    #header div button {
      font-family: 'Coming Soon', sans-serif;
      color: #473d36;
      font-weight: bold;
      font-size: 10px;
      height: 48px;
      width: 100%;
      background-color: #8A7566;
      border: none;
      transition: background-color 0.5s ease; }
      @media (min-width: 900px) {
        #header div button {
          font-size: 12px; } }
    #header div button:hover {
      background-color: #A58772; }

#navbar {
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  margin-top: 0px;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 416px;
  max-width: 65%;
  z-index: 1000;
  height: 48px; }
  #navbar li {
    margin-left: 4px;
    z-index: 1001;
    width: 96px;
    list-style-type: none;
    height: 48px;
    background-color: #8A7566;
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: background-color 0.5s ease; }
    #navbar li a, #navbar li a:visited {
      width: 100%;
      text-decoration: none;
      line-height: 48px;
      font-size: 10px;
      font-weight: bold;
      color: #473d36;
      text-align: center; }
      @media (min-width: 900px) {
        #navbar li a, #navbar li a:visited {
          font-size: 12px; } }
  #navbar li:hover {
    background-color: #A58772; }

#main {
  box-sizing: border-box;
  position: relative;
  top: 56px;
  width: 85%;
  margin: auto;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #FFC276;
  background-image: url("cork-board.jpg");
  background-size: 100%;
  border-top: 1px solid #ede0cd;
  border-left: 1px solid #ede0cd;
  border-radius: 4px;
  box-shadow: 0px 0px 1px #ede0cd, 0px 2px 1px #8A7566, 0px 4px 1px #8A7566, 0px 6px 2px #6C5C51, 0px 8px 4px #6C5C51, 2px 10px 8px #382D26, -2px 10px 8px #382D26; }
  @media (min-width: 900px) {
    #main {
      width: 850px; } }
